name: Bake and Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Amazon EKS context
        uses: azure/k8s-set-context@v2
        with:
          method: service-account
          k8s-url: ${{ secrets.K8S_API_SERVER }}
          k8s-secret: ${{ secrets.K8S_SECRET }}

      - name: Verify k8s connectivity
        run: |
          kubectl auth can-i get pods -n default
          kubectl get sa

      - uses: azure/k8s-bake@v2
        with:
          renderEngine: 'helm'
          helmChart: './app/helm/customer-app'
          overrideFiles: './app/helm/customer-app/values.yaml'
          overrides: |
            customer.replicaCount:2
          releaseName: 'customer-app'
          helm-version: 'latest'
        id: bake

      - uses: Azure/k8s-deploy@v4
        with:
          action: deploy
          manifests: ${{ steps.bake.outputs.manifestsBundle }}
          namespace: default
          strategy: blue-green
          route-method: service
          version-switch-buffer: 0