name: Bake and Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.9.0' # default is latest (stable)
          token: ${{ secrets.GITHUB_TOKEN }} # only needed if version is 'latest'

      - uses: azure/setup-kubectl@v3
        with:
          version: 'v1.22.12' # default is latest stable
        id: install

      - name: Set Amazon EKS context
        uses: azure/k8s-set-context@v2
        with:
          method: service-account
          k8s-url: ${{ secrets.K8S_API_SERVER }}
          k8s-secret: ${{ secrets.K8S_SECRET }}

      - name: Verify k8s connectivity
        run: |
          kubectl auth can-i get pods -n default
          kubectl get sa

      - uses: azure/k8s-bake@v2
        with:
          renderEngine: 'helm'
          helmChart: './app/helm/customer-app'
          overrideFiles: './app/helm/customer-app/values.yaml'
          overrides: |
            customer.replicaCount:1
            order.replicaCount:1
          releaseName: 'customer-app'
          helm-version: 'latest'
        id: bake

      - uses: Azure/k8s-deploy@v4
        with:
          action: deploy
          manifests: ${{ steps.bake.outputs.manifestsBundle }}
          namespace: default
          strategy: blue-green
          route-method: service
          version-switch-buffer: 0

      - name: Helm list
        run: |
          helm list
